.layout{
  height: 100%;
  box-sizing: border-box;
  display:grid;
  grid-template-rows: 10% 80% 10%;
  grid-template-columns: repeat(6 ,1fr);

  header,footer,main{
    grid-column: span 6;
  }
}

.header{
    background-color: rgb(55, 55, 55);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


// .layout,
// .layout>* {
//     border: 1px solid rgb(0, 0, 0);
// }
