.layout{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display:grid;
  grid-template-rows: 10% 80% 10%;
  grid-template-columns: repeat(6 ,1fr);

  header,footer,main{
    grid-column: span 6;
    height: 100%;
    width: 100%;
  }
}

main{
  overflow: auto ;
}

.header{
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
}


// .layout,
// .layout>* {
//     border: 1px solid rgb(0, 0, 0);
// }
