<input
  type="number"
  placeholder="choose your account number"
  (input)="theNum($event)"
/>
<button class="btn" (click)="btnClick()">See my Actions</button>
<hr />
<div class="container">
  <div *ngFor="let data of loanAction">
    <div class="card">
      <p>Account number: {{ data.account_num }}</p>
      <p>Action: {{ data.action }}</p>
      <p>amount: {{ data.amount }}</p>
      <p>date: {{ data.date }}</p>
      <p>payments: {{ data.payments }}</p>
      <p>interest: {{ data.interest }}</p>
      <p>return Date: {{ data.return_date }}</p>
    </div>
  </div>

  <div *ngFor="let data of normalActions">
    <div class="card">
      <p>Account number: {{ data.account_num }}</p>
      <p>Action: {{ data.action }}</p>
      <p>amount: {{ data.amount }}</p>
      <p>date: {{ data.date }}</p>
    </div>
  </div>
</div>
