.box{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  margin-top: 15px;
}

.singleGame{
  background-color: rgb(64, 59, 67);
  box-shadow: 5px 5px 10px 1px rgb(33, 33, 33);
  border-radius: 15px;
  width: 340px;
  height: 250px;
  text-align: center;
  transition: all .2s ease-in-out;
}

.singleGame:hover{
  transform: scale(1.05);
}
